{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>{{ survey.title }}</h2>
    <p>{{ question.text }}</p>
    <form method="post">
        {% csrf_token %}
        {% if question.question_type == 'MC' %}
            {% for choice in question.choices.all %}
                <label class="form-label"><input type="radio" name="answer" value="{{ choice.id }}"> {{ choice.text }}</label><br>
            {% endfor %}
        {% else %}
            <textarea class="form-control" name="answer" required></textarea>
        {% endif %}
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
<div/>

{% endblock %}
