{% extends "users/auth_base.html" %}

{% block head_title %}Password Reset Complete{% endblock %}
{% block auth_heading %}Password updated{% endblock %}
{% block auth_subheading %}Your password has been reset successfully.{% endblock %}

{% block auth_content %}
<div class="mx-auto" style="max-width: 420px;">
  <div class="mb-4">
    <h2 class="h3 mb-2">All set</h2>
    <p class="text-soft mb-0">
      Your password has been changed. You can now log in with your new password.
    </p>
  </div>

  <div class="d-grid mt-4">
    <a href="{% url 'users:login' %}" class="btn btn-primary">Login</a>
  </div>
</div>
{% endblock %}